/* Archive page */

.archive-title {
  margin: 0 auto;
  max-width: $content-max-width;
  text-align: left;
  padding: 0 6%;
}

.archive-subtitle {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 6%;
  text-align: justify;
}

.archive-header {
  margin-bottom: 6rem;
}
