#consent-ui {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 3rem;
  background: $overlays-bg-dark-opaque;
  color: white;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, .4);
}

#consent-ui p {
  margin: 0 auto;
  max-width: $text-column-width;
  margin-bottom: 2rem;
  font-size: 14px;
  line-height: 20px;
}

#consent-ui span {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#consent-ui button {
  display: block;
  margin: 0 auto;
  color: white;
  background: $color-accent;
  border: 0;
  padding: 15px;
  font-size: 30px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .4);
}
