a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin-left: 3rem;
  margin-right: 1rem;
}

ul li,
ol li {
  margin-bottom: 0;
}

p+ol,
p+ul {
  margin-top: -1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

figure {
  margin: 0;
  margin-bottom: 3rem;
}

figure figcaption {
  font-size: 1.6em;
  line-height: 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

blockquote {
  border-left: 1rem solid $color-accent;
  padding-left: 2rem;
  margin: 0 0 3rem 0;
  line-height: 3rem;

  p {
    font-size: 2.9em;
    line-height: 4.3rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  cite {
    margin: 0;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5em;
    text-align: right;
    width: 100%;
    display: block;
  }
}

table {
  font-size: 1.3em;
  overflow: scroll;

  td {
    padding: 1rem;
    min-width: 12rem;
  }
}
