a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin-left: 3rem;
  margin-right: 1rem;
}

ul li,
ol li {
  margin-bottom: 0;
}

p+ol,
p+ul {
  margin-top: -1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

figure {
  margin: 0;
  margin-bottom: 3rem;
}

figure figcaption {
  font-size: 1.6em;
  line-height: 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

blockquote {
  display: block;
  border-left: 3px solid #888;
  margin: 0;
  font-style: italic;
  font-weight: 300;
  padding: 0;
  margin-bottom: 3rem;

  p {
    margin: 1rem;
    display: block;
  }

  cite {
    width: 100%;
    display: block;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    padding-left: 33%;
  }
}

table {
  font-size: 1.3em;
  overflow: scroll;

  td {
    padding: 1rem;
    min-width: 12rem;
  }
}
