.pagination {
  margin: 0 auto;
  max-width: var(--content-max-width);
  text-align: center;
  margin-top: 4%;

  .page-numbers {
    background: var(--color-accent);
    padding: 1rem;
    margin: 0 1rem;
    display: inline-block;
    color: white;
    font-size: 1.4em;

    &.current {
      font-size: 2.2em;
    }
  }
}
