.pagination {
  margin: 0 auto;
  max-width: var(--content-max-width);
  text-align: center;
  margin-top: 4%;

  .page-numbers {
    background: var(--color-accent);
    padding: 1rem;
    display: inline-block;
    color: white;

    .current {
      font-size: 1.5em;
    }
  }
}
