.herocaption {
  display: block;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  height: fit-content;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  color: white;
}

@media (min-width: 768px) {
  .herocaption {
    left: 3rem;
    bottom: 3rem;
    right: 3rem;
  }
}

.herocaption .title {
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.25;
  letter-spacing: 1px;
  margin: 0.5rem 0;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-top: 75%;
}

@media (min-width: 768px) {
  .herocaption .title {
    padding-top: 20%;
  }
}

.herocaption .subline {
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.1rem;
  opacity: 0.75;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}

.herocaption .subline .author {
  margin-right: 3rem;
}

.herocaption .subline .time {
  font-weight: 400;
  opacity: 0.85;
}

.herocaption .tag {
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  padding-top: 1.25px;
  background: $color-pill;
  color: black;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
