@use "sass:math";

.tgrow_prnt {
  margin: 0 auto;

  .tgrow {
    display: grid;

    .tgcol {
      .tablogrid_client {
        width: 100%;
        position: relative;
        contain: strict;
      }
    }
  }

  .tgrow.uno {
    grid-template-columns: 100%;
  }

  .tgrow.tbr {
    .tgcol.c1 {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .tgcol.c2 {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

    .tgcol.c3 {
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column: 2 / 2;
    }
  }

  .tgrow.ltb {
    .tgcol.c1 {
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column: 1 / 1;
    }

    .tgcol.c2 {
      grid-row: 1 / 1;
      grid-column: 2 / 2;
    }

    .tgcol.c3 {
      grid-row: 2 / 2;
      grid-column: 2 / 2;
    }
  }
}

.spacer-row-1,
.spacer-row-2 {
  margin: 0 auto;
}

@mixin tablogrid-for-screen-width($screenBreak) {
  $gutterFrac: 0.08;
  $cellRatio: 1.5;
  $rowWidth: ((1-$gutterFrac)) * $screenBreak;
  $gutterSize: $gutterFrac * $screenBreak;
  $singleCellHeight: math.div($rowWidth, $cellRatio);
  $doubleCellWidth: math.div($rowWidth - $gutterSize, 2);
  $doubleCellHeight: math.div($doubleCellWidth, $cellRatio);
  $doubleContainerHeight: 2 * $doubleCellHeight + $gutterSize;

  .tgrow_prnt {
    width: $rowWidth;
    margin-bottom: $gutterSize;

    .tgrow {
      row-gap: $gutterSize;
      column-gap: $gutterSize;
    }
  }

  .tgrow.uno {
    grid-template-rows: $singleCellHeight;

    .tgcol {
      .tablogrid_client {
        height: $singleCellHeight;
      }
    }
  }

  .tgrow.duo {
    grid-template-columns: $doubleCellWidth $doubleCellWidth;
    grid-template-rows: $doubleCellHeight;

    .tgcol {
      .tablogrid_client {
        height: $doubleCellHeight;
      }
    }
  }

  .tgrow.tbr {
    grid-template-columns: $doubleCellWidth $doubleCellWidth;
    grid-template-rows: $doubleCellHeight $doubleCellHeight;

    .tgcol.c1 {
      .tablogrid_client {
        height: $doubleCellHeight;
      }
    }

    .tgcol.c2 {
      .tablogrid_client {
        height: $doubleCellHeight;
      }
    }

    .tgcol.c3 {
      .tablogrid_client {
        height: $doubleContainerHeight;
      }
    }
  }

  .tgrow.ltb {
    grid-template-columns: $doubleCellWidth $doubleCellWidth;
    grid-template-rows: $doubleCellHeight $doubleCellHeight;

    .tgcol.c1 {
      .tablogrid_client {
        height: $doubleContainerHeight;
      }
    }

    .tgcol.c2 {
      .tablogrid_client {
        height: $doubleCellHeight;
      }
    }

    .tgcol.c3 {
      .tablogrid_client {
        height: $doubleCellHeight;
      }
    }
  }

  .spacer-row-1 {
    width: $rowWidth;
    height: $gutterSize;
  }

  .spacer-row-2 {
    width: $rowWidth;
    height: 2 * $gutterSize;
  }
}

// Generator:
$screenBreak: $desktop-min-width;
$step: 50px;

@while $screenBreak<$content-max-width {
  @media (min-width: $screenBreak) {
    @include tablogrid-for-screen-width($screenBreak);
  }

  $screenBreak: $screenBreak+$step;
}
