@import "tablogrid/index";

@include tablogrid($desktop-min-width: $desktop-min-width,
  $desktop-max-width: $content-max-width,
  $breakpoint-step: 50px,
  $gutter-fraction: 0.08,
  $desktop-cell-width-to-height-ratio: 1.5,
  $mobile-cell-width-to-height-ratio: 0.66)
