@import "../../../plugins/tablogrid-plugin/scss/frontend-mixin";

@include tablogrid($desktop-min-width: $desktop-min-width,
  $desktop-max-width: $content-max-width,
  $breakpoint-step: 50px,
  $gutter-fraction-desktop: 0.08,
  $gutter-fraction-mobile: 0.04,
  $cell-width-to-height-ratio-desktop: 1.5,
  $cell-width-to-height-ratio-mobile: 0.66)
