@use "sass:math";
@use "sass:color";

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function lineHeight($line-height, $font-size) {
  @return $line-height * ceil(stripUnit($font-size) / stripUnit($line-height));
}

$root-font-size: 10px;
$base-font-size-mobile: 1.6em;
$base-font-size-desktop: 1.6em;
$scale-factor-desktop: 1.25;
$scale-factor-mobile: 1.2;
$line-height-mobile: 3rem;
$line-height-desktop: 3rem;
$h1-font-size-mobile: $base-font-size-mobile * math.pow($scale-factor-mobile, 4);
$h1-font-size-desktop: $base-font-size-desktop * math.pow($scale-factor-desktop, 4);
$h1-line-height-mobile: lineHeight($line-height-mobile, $h1-font-size-mobile);
$h1-line-height-desktop: lineHeight($line-height-desktop, $h1-font-size-desktop);
$h2-font-size-mobile: $base-font-size-mobile * math.pow($scale-factor-mobile, 2);
$h2-font-size-desktop: $base-font-size-desktop * math.pow($scale-factor-desktop, 2);
$h2-line-height-mobile: lineHeight($line-height-mobile, $h2-font-size-mobile);
$h2-line-height-desktop: lineHeight($line-height-desktop, $h2-font-size-desktop);
$h3-font-size-mobile: $base-font-size-mobile * $scale-factor-mobile;
$h3-font-size-desktop: $base-font-size-desktop * $scale-factor-desktop;
$h3-line-height-mobile: lineHeight($line-height-mobile, $h3-font-size-mobile);
$h3-line-height-desktop: lineHeight($line-height-desktop, $h3-font-size-desktop);
$h456-font-size-mobile: $base-font-size-mobile;
$h456-font-size-desktop: $base-font-size-desktop;
$h456-line-height-mobile: $line-height-mobile;
$h456-line-height-desktop: $line-height-desktop;

html,
body {
  font-family: "Lato", sans-serif;
  font-size: $root-font-size;
  font-weight: 300;
  color: $color-text-main;
}

p,
.p,
cite {
  font-size: $base-font-size-mobile;
  line-height: $line-height-mobile;
  margin-bottom: 3rem;

  @media (min-width: $desktop-min-width) {
    font-size: $base-font-size-desktop;
    line-height: $line-height-desktop;
  }
}

li {
  font-size: $base-font-size-mobile;
  line-height: $line-height-mobile;

  @media (min-width: $desktop-min-width) {
    font-size: $base-font-size-desktop;
    line-height: $line-height-desktop;
  }
}

li li {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h5 {
  color: color.scale($color-text-main, $lightness: 20%);
}

h5 {
  color: color.scale($color-text-main, $lightness: 40%);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: $h456-font-size-mobile;
  line-height: $h456-line-height-mobile;

  @media (min-width: $desktop-min-width) {
    font-size: $h456-font-size-desktop;
    line-height: $h456-line-height-desktop;
  }
}

h3,
.h3 {
  font-size: $h3-font-size-mobile;
  line-height: $h3-line-height-mobile;

  @media (min-width: $desktop-min-width) {
    font-size: $h3-font-size-desktop;
    line-height: $h3-line-height-desktop;
  }
}

h2,
.h2 {
  font-size: $h2-font-size-mobile;
  line-height: $h2-line-height-mobile;

  @media (min-width: $desktop-min-width) {
    font-size: $h2-font-size-desktop;
    line-height: $h2-line-height-desktop;
  }
}

h1,
.h1 {
  font-size: $h1-font-size-mobile;
  line-height: $h1-line-height-mobile;

  @media (min-width: $desktop-min-width) {
    font-size: $h1-font-size-desktop;
    line-height: $h1-line-height-desktop;
  }
}
