@import "mobile";
@import "desktop-static";
@import "desktop-generator";

@mixin tablogrid($desktop-min-width,
  $desktop-max-width,
  $breakpoint-step,
  $gutter-fraction,
  $cell-width-to-height-ratio) {
  @include tablogrid-mobile();

  @media(min-width: $desktop-min-width) {
    @include tablogrid-desktop-static();
  }

  $currentMinWidth: $desktop-min-width;
  $step: $breakpoint-step;

  @while $currentMinWidth<$desktop-max-width {
    @media (min-width: $currentMinWidth) {
      @include tablogrid-for-screen-width($screenBreak: $currentMinWidth,
        $gutterFrac: $gutter-fraction,
        $cellRatio: $cell-width-to-height-ratio);
    }

    $currentMinWidth: $currentMinWidth+$step;
  }
}
