@import"client";
@import "mobile";
@import "desktop-static";
@import "desktop-generator";

@mixin tablogrid($desktop-min-width,
  $desktop-max-width,
  $breakpoint-step,
  $gutter-fraction,
  $desktop-cell-width-to-height-ratio,
  $mobile-cell-width-to-height-ratio) {

  @include client();
  @include tablogrid-mobile($gutterFrac: $gutter-fraction, $cellRatio: $desktop-cell-width-to-height-ratio);

  @media(min-width: $desktop-min-width) {
    @include tablogrid-mobile-disabler();
    @include tablogrid-desktop-static();
  }

  $currentMinWidth: $desktop-min-width;
  $step: $breakpoint-step;

  @while $currentMinWidth<$desktop-max-width {
    @media (min-width: $currentMinWidth) {
      @include tablogrid-for-screen-width($screenBreak: $currentMinWidth,
        $gutterFrac: $gutter-fraction,
        $cellRatio: $mobile-cell-width-to-height-ratio);
    }

    $currentMinWidth: $currentMinWidth+$step;
  }
}
