@mixin tablogrid-mobile($gutterFrac) {
  $percentGutter: $gutterFrac * 100;

  .tgrow_prnt {
    margin: 0 auto;
    width: (100 - $percentGutter) * 1vw;

    .tgrow {
      margin: 0;
      padding: 0;

      .tgcol {
        margin: 0;
        padding: 0;
        margin-bottom: $percentGutter * 1vw;
      }
    }
  }

  .spacer-row-1 {
    width: 100%;
    height: $percentGutter * 1vw;
  }

  .spacer-row-2 {
    width: 100%;
    height: $percentGutter * 2vw;
  }
}

@mixin tablogrid-mobile-disabler {
  .tgrow_prnt {
    width: auto;
  }

  .tgrow {
    .tgcol {
      margin-bottom: 0;
    }
  }
}
