.who-we-are-tooltip {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: var(--color-text-auxillary);
  margin: 0;
}

.who-we-are-tooltip span {
  display: block;
  text-align: center;
  line-height: 16px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin-top: 9px;
  position: relative;
}

.who-we-are-tooltip span:before {
  content: '';
  display: block;

  position: absolute;

  left: 30px;
  top: -4px;
  z-index: 2;

  border: solid #ccc;
  border-width: 0 1px 1px 0;
  background: white;
  display: inline-block;
  padding: 3px;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
