.artbtns {}

.artbtns .title {
  display: none;
}

.artbtns .author {
  display: none;
}

.artbtns .logo {
  order: 2;
  width: 3rem;
  height: 3rem;
}

.artbtns .siejmybtn.share {
  order: 1;
}

.artbtns .siejmybtn.comment {
  order: 3;
}

.artbtns .siejmybtn {
  position: relative;
  padding-left: 22px;
}

.artbtns .siejmybtn .icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 6px;
  opacity: 0.7;
}
